.modular-features {
    text-align: initial;
    
    .container {
        border: 10px solid $primary-color;
        padding: 1.5rem 1rem !important;

        .frame-box {
            padding: 0;
        }
    }
}