h1, h2, h3, h4, h5, h6 {
    color: $dark-color;
}

a {
    color: $light-color;

    &:visited {
        color: $light-color;
    }

    &.btn, &.button {
        border-radius: 0;
        background-color: $dark-color;
        color: $white;

        &:hover {
            background-color: $light-color;
            color: $black;
        }

    }

}

.notices {
    &.megaphone {
        margin: 1.5rem 0.7rem;
        padding: 0 1rem;
        overflow-y: auto;
        overflow-x: hidden;
        border-image-outset: 1;
        box-shadow: 0 0 20px 10px #999999;
        background-color: $white;
        color: #222;

        &::before {
            content: '';
            display: block;
            margin: 1rem 1rem 1rem 0;
            height: 120px;
            width: 200px;
            float: left;
            background-image: url('/user/themes/story-chat/images/accents/megaphonesound.png');
            background-size: cover;
            background-repeat: no-repeat;

            @media (max-width: 767px) {
                width: 100%;
                float: none;
                background-position: center;
                background-size: contain;
            }
        }
    }

    &.outline {
        border: 10px solid $primary-color;
        padding: 0 1rem;
    }
}
