<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <p>Created by <a href="https://twitter.com/WebwardCo" target="_blank">Webward Co</a>.</p>
        <div id="footer-social">
            {% include 'partials/social_links.html.twig' %}
        </div>
        <p>Content copyright {{ now|date('Y') }}. Carly T. Hayward and Jeni Chappelle. All rights reserved.</p>
    </section>
</section>
