h1, h2, h3, h4, h5, h6 {
  color: #2e3361;
}

a {
  color: #1f928d;
}
a:visited {
  color: #1f928d;
}
a.btn, a.button {
  border-radius: 0;
  background-color: #2e3361;
  color: #fff;
}
a.btn:hover, a.button:hover {
  background-color: #1f928d;
  color: #000;
}

.notices.megaphone {
  margin: 1.5rem 0.7rem;
  padding: 0 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-image-outset: 1;
  box-shadow: 0 0 20px 10px #999999;
  background-color: #fff;
  color: #222;
}
.notices.megaphone::before {
  content: "";
  display: block;
  margin: 1rem 1rem 1rem 0;
  height: 120px;
  width: 200px;
  float: left;
  background-image: url("/user/themes/story-chat/images/accents/megaphonesound.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .notices.megaphone::before {
    width: 100%;
    float: none;
    background-position: center;
    background-size: contain;
  }
}
.notices.outline {
  border: 10px solid #fa644f;
  padding: 0 1rem;
}

#header {
  background-color: #2e3361 !important;
}
#header .logo img {
  height: auto;
  max-height: 35px;
}
#header a {
  color: #2e3361;
}
#header a.active {
  color: #474e95 !important;
}
#header a:hover {
  color: #474e95 !important;
}
#header.scrolled {
  background-color: #fa644f !important;
}
#header.scrolled .logo img {
  height: auto !important;
}
#header.scrolled ~ .mobile-menu .button_container span {
  background-color: #000;
}
#header.scrolled ~ .mobile-menu .button_container.active span {
  background-color: #fff;
}

.mobile-logo {
  margin-right: 2rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  height: 4rem;
}
.mobile-logo img {
  margin-top: 1.4rem;
  margin-left: 0;
  height: auto;
}
.mobile-logo img.mobile-scrolled {
  margin-top: 0.6rem;
}

.mobile-menu .button_container span {
  background-color: #1f928d;
}

#footer {
  background-color: #fa644f;
  color: #2e3361;
}
#footer a {
  color: #fff;
}
#footer #footer-social a {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem;
}

.blog-listing .blog-header {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .blog-listing .blog-header {
    font-size: 1.5rem;
  }
}
.blog-listing #item {
  width: 100%;
}
.blog-listing #item .card {
  position: relative;
  box-shadow: 0 10px 45px -9px rgba(0, 0, 0, 0.7);
}
.blog-listing #item .card .card-image a {
  display: inline-block;
}
.blog-listing #item .card .card-image a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 51, 97, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.blog-listing #item .card .card-image a:hover:after {
  background-color: rgba(46, 51, 97, 0.2);
}
.blog-listing #item .card .card-header {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(46, 51, 97, 0.9);
}
.blog-listing #item .card .card-header a {
  color: #fff;
}
.blog-listing #item .card .card-footer {
  display: none;
}
.blog-listing #sidebar {
  display: none;
}
.blog-listing .sharer-buttons-toolbar {
  text-align: center;
}
.blog-listing #disqus_thread {
  margin: 0 auto;
  max-width: 976px;
  padding-right: 2rem;
}
@media (max-width: 840px) {
  .blog-listing #disqus_thread {
    padding-right: 0;
  }
}

#floating-social {
  position: fixed;
  top: 50%;
  right: 0;
}
#floating-social a {
  display: block;
  height: 40px;
  width: 40px;
  background-color: #000;
}
#floating-social a:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
@media (max-width: 840px) {
  #floating-social {
    display: none;
  }
}

.modular-hero {
  margin-top: 4rem;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
}
.modular-hero #to-start {
  bottom: 0;
}
@media (max-width: 768px) {
  .modular-hero {
    height: 200px;
  }
}

.modular-text {
  padding: 0 !important;
}

#body-wrapper {
  padding-right: 1rem;
  padding-bottom: 2rem;
}
#body-wrapper .float-left {
  padding-right: 1rem;
}
#body-wrapper .float-right {
  padding-left: 1rem;
}
@media (max-width: 580px) {
  #body-wrapper .float-left, #body-wrapper .float-right {
    float: none !important;
  }
}
#body-wrapper .center {
  text-align: center;
}
#body-wrapper .center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#body-wrapper .anchor {
  display: block;
  position: relative;
  top: -46px;
  visibility: hidden;
}

/*# sourceMappingURL=custom.css.map */
