@import 'header';
@import 'footer';
@import 'blog';
@import 'social-bar';
@import 'modular/all';

#body-wrapper {
    padding-right: 1rem;
    padding-bottom: 2rem;

    .float-left {
        padding-right: 1rem;
    }

    .float-right {
        padding-left: 1rem;
    }

    .float-left, .float-right {

        @media (max-width: 580px) {
            float: none !important;
        }
        
    }

    .center {
        text-align: center;
    }

    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .anchor {
        display: block;
        position: relative;
        top: -46px;
        visibility: hidden;
    }

}
