@import 'header';
@import 'footer';
@import 'blog';
@import 'social-bar';
@import 'modular/all';

#body-wrapper {
    padding-right: 1rem;
    padding-bottom: 2rem;

    .float-left {
        padding-right: 1rem;
    }

}
