#header {
    background-color: $dark-color !important;

    .logo {

        img {
            height: auto;
            max-height: 35px;
        }

    }

    a {
        color: $dark-color;

        &.active {
            color: $gray-color-dark !important;
        }

        &:hover {
            color: $gray-color-dark !important;
        }

    }

    &.scrolled {
        background-color: $primary-color !important;

        .logo {

            img {
                height: auto !important;
            }

        }

        ~ .mobile-menu {

            .button_container {

                span {
                    background-color: $black;
                }

                &.active {

                    span {
                        background-color: $white;
                    }

                }

            }

        }

    }

}

.mobile-logo {
    margin-right: 2rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    height: 4rem;

    img {
        margin-top: 1.4rem;
        margin-left: 0;
        height: auto;

        &.mobile-scrolled {
            margin-top: 0.6rem;
        }

    }

}

.mobile-menu {

    .button_container {

        span {
            background-color: $light-color;
        }

    }

}
